# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt-specific
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h

# Qt Deployment
qtdeploy/

# Object code
*.suo
*.user
*.userosscache
*.sln.docstates
*.qmake.stash

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac files
.DS_Store

# Custom files
*.user
*.suo
*.config

# Ignore all log files and temp files.
*.log
*.tlog
*.tmp
*.temp


#vscode files
.vscode/